/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the height of the body and html to 100% and hide the scrollbars */
body,

html {
  height: 100%;
}
body {
  overflow: hidden;
  
}

/* Set the size and position of the canvas element */
canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#orbit-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.229);
  border-radius: 50%;
  overflow: hidden;
  pointer-events: auto;
}



#start-audio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 1000; /* Ensure the button is always visible above other elements */
}

#start-audio img {
  width: 50px;
  height: 50px;
}


#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 9999;
}

.loading-bar-border {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

#loading-bar {
  height: 100%;
  background: linear-gradient(to right, rgb(72, 134, 250) 0%, rgb(83, 152, 255) 50%, rgb(248, 117, 139) 50%, pink 100%);
  width: 0%;
  z-index: 1000;
  transition: width 1s ease-in-out;
}

#loading-text {
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#loading-percentage {
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@font-face {
  font-family: 'Cherry Bomb One';
  src: url('fonts/CherryBombOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity as needed */
  z-index: 9998; /* Ensure the black overlay is below the loading elements */
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.black-overlay.hidden {
  opacity: 0;
  pointer-events: none; /* Disable pointer events on the hidden black overlay */
}
